body{
	margin: 0px;
	overflow: hidden;
	position: fixed;
}

canvas{
	position: fixed;
	z-index: 1;
}

#playerIcon{
	position: fixed;
	width: 65px;
	height: 65px;
	background-size:  cover;
	left: 10px;
	top: 10px;
	z-index: 4;
}
#playerHealthBar{
	position: relative;
	top: 5px;
	left: 5px;
	height: 22.5px;
	background-color: green;
	z-index: 3;
}
#playerNickname{
	position: fixed;
	z-index: 3;
	top: 10px;
	left: 75px;
	height: 22.5px;
	font: 30px sans-serif;

}
#playerHealthContainer{
	position: fixed;
	top: 42px;
	left: 42px;
	height: 32.5px;
	background-color: #3d3d3d;
	z-index: 2;
	width: 160px;
}


#powerPunchDelay{
	display: block;
	position: fixed;
	z-index: 3;
	right: 30px;
	bottom: 10px;
}
#healDelay{
	display: block;
	position: fixed;
	z-index: 3;
	right: 130px;
	bottom: 10px;
}
#joinContainer{
	position: absolute;
	left: calc(50vw - 100px);
	top: calc(80vh - 15px);
	width: 200px;
}

#skinSwitchContainer{
	z-index: 3;
	position: fixed;
	width: 80vw;
	height: 80vh;
	left: 10vw;
	top: 10vh;
}
.skinSwitch{
	font: 16px monospace;
	background-color: green;
	text-align: center;
	line-height: 90px;
	position: absolute;
	width: 40px;
	height: 90px;
	top: calc(50% - 45px);
	opacity: 0.8;
	user-select: none;
}
.skinSwitch:hover{
	cursor: pointer;
}
#skinSwitchLeft{
	left: 0px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#skinSwitchRight{
	right: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}


#nicknameField{
	display: block;
	z-index: 3;
	position: relative;
	width: 212px;
	height: 30px;
	left: calc(50% - 110px);
	border: 2px solid black;
	border-radius: 10px;
}
#joinButton{
	margin-top: 5px;
	z-index: 3;
	position: relative;
	width: 200px;
	height: 15px;
	background-color: darkgreen;
	color: white;
	font: 15px sans-serif;
	left: calc(50% - 110px);
	text-align: center;
	padding: 10px;
	border-radius: 5px;

}
#joinButton:hover{
	background-color: green;
	cursor: pointer;
}
#leaderBoardContainer{
	z-index: 4;
	position: fixed;
	right: 10px;
	top: 10px;
	width: 200px;
	min-height: 500px;
}
.leaderBoardSpot{
	position: relative;
	width: 90%;
	height: 16px;
	margin-left: 5%;
	margin-top: 4px;
	background-color: darkcyan ;
	opacity: 0.75;
	border-radius: 5px;
}
.leaderBoardNick{
	position: absolute;
	left: 5px;
}
.leaderBoardKills{
	position: absolute;
	right: 5px;
}

#deathScreen{
	display: none;
	z-index: 4;
	width: 100vw;
	position: fixed;
	height: 40vh;
	top: 30vh;
	background-color: darkcyan;
	opacity: 0.5;
}

#reJoinButton{
	margin-bottom: 5px;
	bottom: 30vh;
	z-index: 5;
	position: fixed;
	width: 200px;
	height: 15px;
	background-color: green;
	color: white;
	font: 15px sans-serif;
	left: calc(50vw - 110px);
	text-align: center;
	padding: 10px;
	border-radius: 5px;
}
#reJoinButton:hover{
	background-color: darkgreen;
	cursor: pointer;
}