body{
	margin: 0px;
	overflow: hidden;
	position: fixed;
}

canvas{
	position: fixed;
	z-index: 1;
}

#playerIcon{
	position: fixed;
	width: 65px;
	height: 65px;
	background-size:  cover;
	left: 10px;
	top: 10px;
	z-index: 4;
}
#playerHealthBar{
	position: relative;
	top: 5px;
	left: 5px;
	height: 22.5px;
	background-color: green;
	z-index: 3;
}
#playerHealthContainer{
	position: fixed;
	top: 42px;
	left: 42px;
	height: 32.5px;
	background-color: #3d3d3d;
	z-index: 2;
	width: 160px;
}


#powerPunchDelay{
	position: fixed;
	z-index: 2;
	right: 30px;
	bottom: 10px;
}
#joinContainer{
	position: absolute;
	left: calc(50vw - 100px);
	top: calc(80vh - 15px);
	width: 200px;
}
#nicknameField{
	display: block;
	z-index: 3;
	position: relative;
	width: 212px;
	height: 30px;
	left: calc(50% - 110px);
	border: 2px solid black;
	border-radius: 10px;
}
#joinButton{
	margin-top: 5px;
	z-index: 3;
	position: relative;
	width: 200px;
	height: 15px;
	background-color: darkgreen;
	color: white;
	font: 15px sans-serif;
	left: calc(50% - 110px);
	text-align: center;
	padding: 10px;
	border-radius: 5px;

}
#joinButton:hover{
	background-color: green;
	cursor: pointer;
}